* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-content: center;
    font-family: "Roboto", serif;
}

.hero-title {
    font-family: "Pixelify Sans", 'Times', serif;
    font-weight: 500;
    font-size: 3.5em;

    letter-spacing: 3px;
    line-height: 1.5;
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    width: 960px;
}

.input-container {
    display: grid;
    justify-content: center;
}

.input-container label {
    text-align: center;
    letter-spacing: 0.8px;
    font-size: 1.5em;
}

.input-container .input-wrapper {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.input-wrapper {
    display: flex;
    width: 100%;
    max-width: 400px;
}

.input-wrapper input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1.2px solid black;
    border-radius: 5px 0 0 5px;
}

.input-wrapper input:focus{
    outline: none;
}

.input-wrapper button {
    padding: 0.5rem 1rem;
    border: 1.2px solid black;
    border-left: none;
    border-radius: 0 5px 5px 0;

    cursor: pointer;
    background-color: rgb(205, 242, 255);

    font-weight: 500;
}

.input-wrapper button:hover {
    background-color: rgb(209, 255, 205);
}

.message-container {
    display: grid;
    place-content: center;
    height: 65px;
    padding: 1rem;
}

.message-container .display-message {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;

    letter-spacing: 1px;
}


.grid-container {
    display: flex;
    flex-direction: column;

    height: 600px;
    width: 600px;
    margin-top: 5%;

    border: 3px solid black;
    border-radius: 10px;
}

.row {
    display: flex;
    flex: 1;
}

.grid {
    flex: 1;
    border: 1px solid rgba(79, 79, 79, 0.08);
}

footer {
    border-top: 1px solid rgba(83, 83, 83, 0.5);
    color: rgba(19, 19, 19, 0.5);
    text-align: center;
    font-size: 0.7em;

    padding: 1.5rem;
    margin-top: 2rem;
    padding-top: 1rem;
}